{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur votre configurateur de couteau suisse. Vous allez pouvoir en éditer un sur mesure !</h1>
    <img class="fit-picture"
         src="https://www.le-couteau-suisse.com/107-large_default/couteau-suisse-ranger.jpg"
         alt="Grapefruit slice atop a pile of other slices">
</div>
{% endblock %}
