<form method="post" action="{{ path('app_couteau_delete', {'id': couteau.id}) }}" onsubmit="return confirm('Etes vous sure ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ couteau.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
